#reset-button {
  height: 26px; /* easyButton's height default */
  width: 85px;
  padding: auto;
  /* match background of legend */
  background: white; /* fallback if rgba doesn't work */
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #555;
}

.easy-button-container {
  box-shadow: none;
  /* postion reset box right of legend */
  position: relative;
  left: 100px;
}

/* pull legend down if reset button is pushed right */
.legend {
  margin-bottom: -26px !important;
}
